## PDS Group 7

In [1]:
import pandas as pd
import numpy as np

pd.set_option("mode.copy_on_write", True)

In [ ]:
# Load the processed ARCOs data and display its info
arcos = pd.read_parquet("arcos_processed.parquet")
arcos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162771 entries, 0 to 162770
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   BUYER_STATE   162771 non-null  object
 1   BUYER_COUNTY  162771 non-null  object
 2   YEAR          162771 non-null  int32
 3   TOTAL_MME     162771 non-null  float64
dtypes: float64(1), int32(1), object(2)
memory usage: 4.3+ MB

In [ ]:
# check for missing values in each column
arcos.isna().sum()

BUYER_STATE     0
BUYER_COUNTY    0
YEAR            0
TOTAL_MME       0
dtype: int64

In [7]:
arcos.sample(15)

       BUYER_STATE  BUYER_COUNTY  YEAR     TOTAL_MME
122433          NC        BLADEN  2007   1086.667870
77987           GA       TELFAIR  2011    958.923340
63050           FL     CHARLOTTE  2006   4375.004109
116198          NC     ALEXANDER  2010   1082.831904
79638           GA      BEN HILL  2009    429.095060
87206           GA        TURNER  2011     39.726450
51736           FL    SANTA ROSA  2014    435.949858
135577          NC      CABARRUS  2008    742.224057
78004           GA        THOMAS  2010    682.498569
14262           NC        PENDER  2016    871.432551
162634          ID         LATAH  2006   5265.560861
131215          NC      CALDWELL  2009    219.925698
12127           SC  WILLIAMSBURG  2016     50.209686
37873           FL       BREVARD  2010  10091.371237
43920           FL       DE SOTO  2013     62.648737